html,
body {
  height: 100%;
  min-height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.titlebar.draggable .titlebar-minimize,
.titlebar.draggable .titlebar-resize,
.titlebar.draggable .titlebar-close {
  -webkit-app-region: no-drag;
  padding-top: 10px;
}

.titlebar-minimize,
.titlebar-resize,
.titlebar-close {
  float: left;
  width: 45px;
  height: 21px;
  margin: 1px 1px 0 0;
  text-align: center;
  line-height: 29px;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.title-bar {
  width: 100%;
  background-color: #ccc;
  cursor: default;
  -webkit-app-region: drag;
}

.blur {
  filter: blur(2px);
}

.titlebar-controls {
  -webkit-app-region: no-drag;
}

.content {
  overflow-y: scroll;
  height: 100%;
}
